# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env
# .gitignore
.streamlit/secrets.toml

# Ignore system files
__pycache__/
*.pyc

# Ignore datasets
*.csv

# Optional: ignore virtual environments
venv/
.env/
